:root {
  /*color*/
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumnail: 50px;
  --button-font-size: 18px;
}
* {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--color-black);
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  cursor: pointer;
  transition: transform 300ms ease;
}
nav {
  display: flex;
  align-items: center;
}
nav .btn:hover,
header img:hover {
  transform: scale(1.1);
}
nav .btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 300ms ease; /*두가지 상태 사이에서 변화를 줄 때(:hover, :active)*/
  margin-right: var(--base-space);
}
nav .btn img {
  width: var(--size-button);
  height: var(--size-button);
}
nav .colorBtn {
  font-size: var(--button-font-size);
  padding: calc(var(--base-space) * 2);
  border-radius: var(--size-border);
}
nav .Blue {
  background-color: var(--color-blue);
}
nav .Yellow {
  background-color: var(--color-yellow);
}
nav .Pink {
  background-color: var(--color-pink);
}
.items {
  width: 60%;
  height: 60%;
  list-style: none;
  overflow-y: scroll;
}
.items .item,
.items img,
.items span {
  background-color: var(--color-white);
}
.items img {
  width: var(--size-thumnail);
  height: var(--size-thumnail);
}
.items .item {
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}
.items .item span {
  font-size: var(--button-font-size);
  margin-left: var(--base-space);
}
